@using System.Data
@using web_api.Helpers

@section Script{
    <script src="~/admin_assets/vendor/toastr/toastr.js"></script>
    <script src="~/admin_assets/assets/bundles/morrisscripts.bundle.js"></script><!-- Morris Plugin Js -->
    <script src="~/admin_assets/assets/bundles/chartist.bundle.js"></script>
}
@section Style{
    <link rel="stylesheet" href="~/admin_assets/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="~/admin_assets/vendor/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/admin_assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="~/admin_assets/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="~/admin_assets/vendor/morrisjs/morris.css" />


}

    <div class="row clearfix">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card text-center bg-success">
                <div class="body">
                    <div class="p-15 text-light">
                        <h3>₺@ViewBag.Nakit</h3>
                        <span>Nakit</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card text-center bg-success">
                <div class="body">
                    <div class="p-15 text-light">
                        <h3>₺@ViewBag.Kredi</h3>
                        <span>Kredi</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card text-center bg-success">
                <div class="body">
                    <div class="p-15 text-light">
                        <h3>₺@ViewBag.Yfisi</h3>
                        <span>Y.Fişi</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card text-center bg-danger">
                <div class="body">
                    <div class="p-15 text-white">
                        <h3>₺@ViewBag.GG</h3>
                        <span>Genel Gider</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card text-center bg-warning">
                <div class="body">
                    <div class="p-15 text-white">
                        <h3>₺@ViewBag.Ciro</h3>
                        <span>Ciro</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card text-center bg-primary">
                <div class="body">
                    <div class="p-15 text-white">
                        <h3>₺@ViewBag.Net</h3>
                        <span>NET</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card text-center bg-secondary">
                <div class="body">
                    <div class="p-15 text-light">
                        <h3>@ViewBag.Urunler</h3>
                        <span>Ürün</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card text-center bg-secondary">
                <div class="body">
                    <div class="p-15 text-light">
                        <h3>@ViewBag.Adisyon</h3>
                        <span>Adisyon</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card text-center bg-secondary">
                <div class="body">
                    <div class="p-15 text-light">
                        <h3>@ViewBag.Iptal</h3>
                        <span>İptal</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card text-center bg-secondary">
                <div class="body">
                    <div class="p-15 text-light">
                        <h3>@ViewBag.Ikram</h3>
                        <span>İkram</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<h3>Masalar</h3>
<div class="row clearfix">
    @foreach (DataRow row in Model.Rows)
    {
        <div class="col-lg-3 col-md-6">
            <div class="card top_counter">
                <div class="body">
                    <div class="icon @((row["adisyon_id"].ToString() == "0") ? "text-success" : "text-danger")"><i class="fa fa-flag"></i></div>
                    <div class="content">
                        <div class="text"><a href="#mdl_@row["adisyon_id"]" data-toggle="modal" data-target="#mdl_@row["adisyon_id"]"><strong>@row["masa_kategori"]</strong> @row["masa_adi"]</a></div>
                        <h5 class="number">@(row["sure"].ToString().Length <= 0 ? "Müsait" : (row["sure"] + " dk")) </h5>
                        <span>@(row["tutar"].ToString().Length <= 0 ? "" : (row["tutar"] + " ₺"))</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="mdl_@row["adisyon_id"]" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="defaultModalLabel"><strong>@row["masa_kategori"]</strong> @row["masa_adi"]</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <tbody>
                                @foreach (DataRow item in SQL.get("SELECT ak.kayit_tarihi, ad_soyad = kl.ad + ' ' + kl.soyad, ak.adisyon_id ,u.hedef_id, u.fiyat, ak.odendi, ak.adisyon_kalem_id, u.urun_adi, ak.miktar, ak.ikram_miktar, tutar = (ak.miktar - ak.ikram_miktar) * u.fiyat, olcu_birimi = p.deger, ak.durum_parametre_id, durum = dr.deger FROM adisyon_kalem ak INNER JOIN urunler u ON u.urun_id = ak.urun_id INNER JOIN parametreler p ON p.parametre_id = u.olcu_birimi_parametre_id INNER JOIN parametreler dr ON dr.parametre_id = ak.durum_parametre_id LEFT OUTER JOIN kullanicilar kl ON kl.kullanici_id = ak.kaydeden_kullanici_id WHERE ak.silindi = 0 AND ak.adisyon_id = " + row["adisyon_id"] + " ORDER by ak.odendi").Rows)
                                {
                                <tr>
                                    <td>@item["urun_adi"]</td>
                                    <td>@(Convert.ToDecimal(item["miktar"]).ToString("n2")) <span class="text-warning">@Convert.ToDecimal(item["ikram_miktar"]).ToString("n2")</span></td>
                                    <td>@Convert.ToDecimal(item["tutar"]).ToString("c2")</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">KAPAT</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>