@using System.Data
@using web_api.Helpers
@{
    ViewBag.Title = "Toplam Satış";
    SQL.baglanti_test();
    DataTable dt_gunler = SQL.get("SELECT TOP 60 * FROM gunler ORDER by gun_id DESC");

    string rapor_tipi = Request.Params["rapor_tipi"] == null ? "toplam_satis" : Request.Params["rapor_tipi"];
    string rapor_adi = "";

    string baslangic_tarihi = Request.Params["baslangic_tarihi"] == null ? DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ', 'T') : Request.Params["baslangic_tarihi"];
    string bitis_tarihi = Request.Params["bitis_tarihi"] == null ? DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ', 'T') : Request.Params["bitis_tarihi"];
    int gun_id = Request.Params["gun_id"] == null ? 0 : Convert.ToInt32(Request.Params["gun_id"]);
    if(gun_id != 0)
    {
        DataTable dt_gun = SQL.get("SELECT * FROM gunler WHERE gun_id = " + gun_id);
        baslangic_tarihi = Convert.ToDateTime(dt_gun.Rows[0]["baslangic_tarihi"]).ToString("yyyy-MM-dd HH:mm:ss").Replace(' ', 'T');
        bitis_tarihi = Convert.ToDateTime(dt_gun.Rows[0]["bitis_tarihi"]).ToString("yyyy-MM-dd HH:mm:ss").Replace(' ', 'T');
    }

    switch (rapor_tipi) {
        case "toplam_satis":   rapor_adi = "Toplam Satış"; break;
        case "personel_iptal": rapor_adi = "Personel İptal"; break;
        case "personel_ikram": rapor_adi = "Personel İkram"; break;
        case "personel":       rapor_adi = "Personel"; break;
        case "urun":           rapor_adi = "Ürün"; break;
        case "kategori":       rapor_adi = "Kategori"; break;
        case "ust_kategori":   rapor_adi = "Üst Kategori"; break;
        case "masa":           rapor_adi = "Masa"; break;
        case "masa_grubu":     rapor_adi = "Masa Grubu"; break;
        case "masa_kapatma":   rapor_adi = "Masa Kapatmaları"; break;
        case "genel_gider":   rapor_adi = "Genel Gider"; break;
        default:               rapor_adi = "Toplam Raporu"; break;
    }

}

<div class="row clearfix">
    @{ if (Request.Params["hata"] != null)
        {<div class="alert alert-danger col-md-12" role="alert">@Request.Params["hata"]</div>} }
    <div class="col-md-12">
        <div class="card">
            <form method="post" action="/Report/raporAl">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <span>Gün</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-calendar"></i></span>
                                </div>
                                <select name="gun_id" class="input-sm form-control">
                                    <option value="0">Manuel Tarih</option>
                                    @foreach (DataRow row in dt_gunler.Rows)
                                    {
                                        <option value="@row["gun_id"]" @(gun_id == Convert.ToInt32(row["gun_id"]) ? "selected" : "")>@(row["baslangic_tarihi"] + "-" + row["bitis_tarihi"])</option>
                                    }
                                </select>
                            </div>
                            <span>Tarih</span>
                            <div class="input-group mb-3">
                                <div class="input-daterange input-group" data-provide="datepicker">
                                    <input type="date" class="input-sm form-control" name="baslangic_tarihi" value="@baslangic_tarihi" >
                                    <span class="input-group-addon range-to">ile</span>
                                    <input type="date" class="input-sm form-control" name="bitis_tarihi" value="@bitis_tarihi" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span>Rapor Tipi</span><br />
                            <label class="fancy-radio custom-color-green"><input name="rapor_tipi" value="toplam_satis" type="radio" @(rapor_tipi == "toplam_satis" ? "checked" : "")><span><i></i>Toplam Satış</span></label><br />
                            <label class="fancy-radio custom-color-green"><input name="rapor_tipi" value="personel" type="radio" @(rapor_tipi == "personel" ? "checked" : "")><span><i></i>Personel</span></label><br />
                            <label class="fancy-radio custom-color-green"><input name="rapor_tipi" value="urun" type="radio" @(rapor_tipi == "urun" ? "checked" : "")><span><i></i>Ürün</span></label><br />
                            <label class="fancy-radio custom-color-green"><input name="rapor_tipi" value="kategori" type="radio" @(rapor_tipi == "kategori" ? "checked" : "")><span><i></i>Kategori</span></label><br />
                            <label class="fancy-radio custom-color-green"><input name="rapor_tipi" value="ust_kategori" type="radio" @(rapor_tipi == "ust_kategori" ? "checked" : "")><span><i></i>Üst Kategori</span></label><br />
                            <label class="fancy-radio custom-color-green"><input name="rapor_tipi" value="masa" type="radio" @(rapor_tipi == "masa" ? "checked" : "")><span><i></i>Masa</span></label><br />
                            <label class="fancy-radio custom-color-green"><input name="rapor_tipi" value="masa_grubu" type="radio" @(rapor_tipi == "masa_grubu" ? "checked" : "")><span><i></i>Masa Grubu</span></label><br />
                            <label class="fancy-radio custom-color-green"><input name="rapor_tipi" value="personel_iptal" type="radio" @(rapor_tipi == "personel_iptal" ? "checked" : "")><span><i></i>Personel İptal</span></label><br />
                            <label class="fancy-radio custom-color-green"><input name="rapor_tipi" value="personel_iptal_detay" type="radio" @(rapor_tipi == "personel_iptal_detay" ? "checked" : "")><span><i></i>Personel İptal(Detay)</span></label><br />
                            <label class="fancy-radio custom-color-green"><input name="rapor_tipi" value="personel_ikram" type="radio" @(rapor_tipi == "personel_ikram" ? "checked" : "")><span><i></i>Personel İkram</span></label><br />
                            <label class="fancy-radio custom-color-green"><input name="rapor_tipi" value="masa_kapatma" type="radio" @(rapor_tipi == "masa_kapatma" ? "checked" : "")><span><i></i>Masa Kapatmaları</span></label><br />
                            <label class="fancy-radio custom-color-green"><input name="rapor_tipi" value="genel_gider" type="radio" @(rapor_tipi == "genel_gider" ? "checked" : "")><span><i></i>Genel Gider</span></label><br />
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <button class="btn btn-success btn-block" type="submit">RAPOR AL</button>
                </div>
            </form>
        </div>

        <div class="card">
            <div class="header">
                <h4>@rapor_adi</h4>
                <label>@baslangic_tarihi - @bitis_tarihi</label>
            </div>
            <div class="body">
                @if (rapor_tipi == "toplam_satis")
                {
                    DataTable dt_kdv = SQL.get("SELECT kdv = AVG(a.kdv) FROM (SELECT kdv = (SELECT AVG(u.kdv) FROM adisyon_kalem ak INNER JOIN urunler u ON u.urun_id = ak.urun_id WHERE ak.silindi = 0 AND ak.adisyon_id = fh.referans_id) FROM finans_hareket fh WHERE fh.silindi = 0 AND fh.hareket_tipi_parametre_id IN (25, 26, 27) AND kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')) a");
                    DataTable dt_nakit = SQL.get("SELECT tutar = ISNULL(SUM(miktar), 0) FROM finans_hareket WHERE silindi = 0 AND hareket_tipi_parametre_id = 25 AND kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')");
                    DataTable dt_kredi = SQL.get("SELECT tutar = ISNULL(SUM(miktar), 0) FROM finans_hareket WHERE silindi = 0 AND hareket_tipi_parametre_id = 26 AND kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')");
                    DataTable dt_yfisi = SQL.get("SELECT tutar = ISNULL(SUM(miktar), 0) FROM finans_hareket WHERE silindi = 0 AND hareket_tipi_parametre_id = 27 AND kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')");
                    DataTable dt_gg_nakit = SQL.get("SELECT tutar = ISNULL(SUM(miktar), 0) FROM finans_hareket WHERE silindi = 0 AND hareket_tipi_parametre_id = 60 AND kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')");
                    DataTable dt_gg_kredi = SQL.get("SELECT tutar = ISNULL(SUM(miktar), 0) FROM finans_hareket WHERE silindi = 0 AND hareket_tipi_parametre_id = 61 AND kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')");
                    decimal kdv = 0;
                    try { kdv = Convert.ToDecimal(dt_kdv.Rows[0]["kdv"]); }
                    catch { kdv = 0; }
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tutar</th>
                                <th>KDV</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nakit</td>
                                <td>@Convert.ToDecimal(dt_nakit.Rows[0]["tutar"]).ToString("c2")</td>
                                <td>@(((Convert.ToDecimal(dt_nakit.Rows[0]["tutar"]) / 100) * kdv).ToString("c2"))</td>
                            </tr>
                            <tr>
                                <td>Kredi</td>
                                <td>@Convert.ToDecimal(dt_kredi.Rows[0]["tutar"]).ToString("c2")</td>
                                <td>@(((Convert.ToDecimal(dt_kredi.Rows[0]["tutar"]) / 100) * kdv).ToString("c2"))</td>
                            </tr>
                            <tr>
                                <td>Y.Fişi</td>
                                <td>@Convert.ToDecimal(dt_yfisi.Rows[0]["tutar"]).ToString("c2")</td>
                                <td>@(((Convert.ToDecimal(dt_yfisi.Rows[0]["tutar"]) / 100) * kdv).ToString("c2"))</td>
                            </tr>
                            <tr>
                                <td>Ciro</td>
                                <td>@((Convert.ToDecimal(dt_nakit.Rows[0]["tutar"]) + Convert.ToDecimal(dt_kredi.Rows[0]["tutar"]) + Convert.ToDecimal(dt_yfisi.Rows[0]["tutar"])).ToString("c2"))</td>
                                <td>@((((Convert.ToDecimal(dt_nakit.Rows[0]["tutar"]) + Convert.ToDecimal(dt_kredi.Rows[0]["tutar"]) + Convert.ToDecimal(dt_yfisi.Rows[0]["tutar"])) / 100) * kdv).ToString("c2"))</td>
                            </tr>
                            <tr>
                                <td>G.Gider</td>
                                <td colspan="2">@((Convert.ToDecimal(dt_gg_nakit.Rows[0]["tutar"]) + Convert.ToDecimal(dt_gg_kredi.Rows[0]["tutar"])).ToString("c2"))</td>
                            </tr>
                            <tr>
                                <td>NET</td>
                                <td colspan="2">@(((Convert.ToDecimal(dt_nakit.Rows[0]["tutar"]) + Convert.ToDecimal(dt_kredi.Rows[0]["tutar"]) + Convert.ToDecimal(dt_yfisi.Rows[0]["tutar"])) + ((Convert.ToDecimal(dt_gg_nakit.Rows[0]["tutar"]) + Convert.ToDecimal(dt_gg_kredi.Rows[0]["tutar"])))).ToString("c2"))</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                }
                else if (rapor_tipi == "personel_iptal")
                {
                    DataTable dt = SQL.get("SELECT * FROM(SELECT ad_soyad = k.ad + ' ' + k.soyad, tutar = (SELECT SUM(ak.miktar * u.fiyat) FROM adisyon_kalem ak INNER JOIN urunler u ON u.urun_id = ak.urun_id WHERE ak.silindi = 1 AND ak.durum_parametre_id != 51 AND ak.durum_parametre_id != 51 AND ak.kaydeden_kullanici_id = k.kullanici_id AND ak.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')) FROM kullanicilar k WHERE k.silindi = 0) tbl WHERE tbl.tutar != 0 ORDER by tbl.tutar DESC");
                    decimal toplam = 0;
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <thead>
                            <tr>
                                <th>Personel</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in dt.Rows)
                                {
                                    toplam += Convert.ToDecimal(item["tutar"]);
                            <tr>
                                <td>@item["ad_soyad"]</td>
                                <td>@Convert.ToDecimal(item["tutar"]).ToString("c2")</td>
                            </tr>
                                }
                            <tr>
                                <td>Toplam</td>
                                <td>@toplam.ToString("c2")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                }
                else if (rapor_tipi == "personel_iptal_detay")
                {
                    DataTable dt = SQL.get("SELECT ad_soyad = k.ad + ' ' + k.soyad, u.urun_adi, miktar = SUM(ak.miktar), tutar = SUM(ak.miktar * u.fiyat) FROM kullanicilar k LEFT OUTER JOIN adisyon_kalem ak ON ak.silindi = 1 AND ak.durum_parametre_id != 51 AND ak.kaydeden_kullanici_id = k.kullanici_id AND ak.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "') INNER JOIN urunler u ON u.urun_id = ak.urun_id WHERE k.silindi = 0 GROUP by k.ad, k.soyad, u.urun_adi");
                    decimal toplam = 0;
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <thead>
                            <tr>
                                <th>Personel</th>
                                <th>Ürün</th>
                                <th>Miktar</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in dt.Rows)
                                {
                                    toplam += Convert.ToDecimal(item["tutar"]);
                            <tr>
                                <td>@item["ad_soyad"]</td>
                                <td>@item["urun_adi"]</td>
                                <td>@Convert.ToDecimal(item["miktar"]).ToString("n2")</td>
                                <td>@Convert.ToDecimal(item["tutar"]).ToString("c2")</td>
                            </tr>
                                }
                            <tr>
                                <td>Toplam</td>
                                <td>@toplam.ToString("c2")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                }
                else if (rapor_tipi == "personel_ikram")
                {
                    DataTable dt = SQL.get("SELECT * FROM(SELECT ad_soyad = k.ad + ' ' + k.soyad, tutar = (SELECT SUM(ak.ikram_miktar * u.fiyat) FROM adisyon_kalem ak INNER JOIN urunler u ON u.urun_id = ak.urun_id WHERE ak.silindi = 0 AND ak.kaydeden_kullanici_id = k.kullanici_id AND ak.ikram != 0 AND ak.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')) FROM kullanicilar k WHERE k.silindi = 0) tbl WHERE tbl.tutar != 0 ORDER by tbl.tutar DESC");
                    decimal toplam = 0;
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <thead>
                            <tr>
                                <th>Personel</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in dt.Rows)
                                {
                                    toplam += Convert.ToDecimal(item["tutar"]);
                            <tr>
                                <td>@item["ad_soyad"]</td>
                                <td>@Convert.ToDecimal(item["tutar"]).ToString("c2")</td>
                            </tr>
                                }
                            <tr>
                                <td>Toplam</td>
                                <td>@toplam.ToString("c2")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                }
                else if (rapor_tipi == "personel")
                {
                    DataTable dt = SQL.get(" SELECT " +
                        "     ad_soyad = k.ad + ' ' + k.soyad, " +
                        "     tutar = ISNULL((SELECT SUM(ak.miktar * u.fiyat) FROM adisyon_kalem ak INNER JOIN urunler u ON u.urun_id = ak.urun_id WHERE ak.silindi = 0 AND ak.kaydeden_kullanici_id = k.kullanici_id AND ak.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')), 0) " +
                        " FROM kullanicilar k WHERE k.silindi = 0 AND 0 != ISNULL((SELECT SUM(ak.miktar * u.fiyat) FROM adisyon_kalem ak INNER JOIN urunler u ON u.urun_id = ak.urun_id WHERE ak.silindi = 0 AND ak.kaydeden_kullanici_id = k.kullanici_id AND ak.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')), 0) ORDER by tutar DESC");
                    decimal toplam = 0;
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <thead>
                            <tr>
                                <th>Personel</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in dt.Rows)
                                {
                                    toplam += Convert.ToDecimal(item["tutar"]);
                            <tr>
                                <td>@item["ad_soyad"]</td>
                                <td>@Convert.ToDecimal(item["tutar"]).ToString("c2")</td>
                            </tr>
                                }
                            <tr>
                                <td>Toplam</td>
                                <td>@toplam.ToString("c2")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                }
                else if (rapor_tipi == "urun")
                {
                    DataTable dt = SQL.get(" SELECT " +
                        "     u.urun_adi, " +
                        "     tutar = ISNULL((SELECT SUM(ak.miktar) * u.fiyat FROM adisyon_kalem ak WHERE ak.silindi = 0 AND ak.urun_id = u.urun_id AND ak.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')), 0) " +
                        " FROM urunler u WHERE u.silindi = 0 AND u.menu_aktif = 1 AND 0 != ISNULL((SELECT SUM(ak.miktar) * u.fiyat FROM adisyon_kalem ak WHERE ak.silindi = 0 AND ak.urun_id = u.urun_id AND ak.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')), 0) ORDER by tutar DESC");
                    decimal toplam = 0;
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <thead>
                            <tr>
                                <th>Ürün</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in dt.Rows)
                                {
                                    toplam += Convert.ToDecimal(item["tutar"]);
                            <tr>
                                <td>@item["urun_adi"]</td>
                                <td>@Convert.ToDecimal(item["tutar"]).ToString("c2")</td>
                            </tr>
                                }
                            <tr>
                                <td>Toplam</td>
                                <td>@toplam.ToString("c2")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                }
                else if (rapor_tipi == "kategori")
                {
                    DataTable dt = SQL.get("SELECT k.kategori_adi, tutar = ISNULL((SELECT SUM(ak.miktar * u.fiyat) FROM adisyon_kalem ak INNER JOIN urunler u ON u.urun_id = ak.urun_id AND u.kategori_id = k.kategori_id WHERE ak.silindi = 0 AND ak.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')), 0) FROM kategoriler k " +
                        " WHERE k.silindi = 0 AND k.ust_kategori_id != 0 AND k.menude_gosterilsin = 1 AND 0 != ISNULL((SELECT SUM(ak.miktar * u.fiyat) FROM adisyon_kalem ak INNER JOIN urunler u ON u.urun_id = ak.urun_id AND u.kategori_id = k.kategori_id WHERE ak.silindi = 0 AND ak.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')), 0) ORDER by tutar DESC");
                    decimal toplam = 0;
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <thead>
                            <tr>
                                <th>Kategori</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in dt.Rows)
                                {
                                    toplam += Convert.ToDecimal(item["tutar"]);
                            <tr>
                                <td>@item["kategori_adi"]</td>
                                <td>@Convert.ToDecimal(item["tutar"]).ToString("c2")</td>
                            </tr>
                                }
                            <tr>
                                <td>Toplam</td>
                                <td>@toplam.ToString("c2")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                }
                else if (rapor_tipi == "ust_kategori")
                {
                    DataTable dt = SQL.get("SELECT k.kategori_adi, tutar = ISNULL((SELECT SUM(ak.miktar * u.fiyat) FROM adisyon_kalem ak INNER JOIN urunler u ON u.urun_id = ak.urun_id INNER JOIN kategoriler k1 ON k1.kategori_id = u.kategori_id AND k1.ust_kategori_id = k.kategori_id WHERE ak.silindi = 0 AND ak.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')), 0) FROM kategoriler k " +
                        " WHERE k.silindi = 0 AND k.ust_kategori_id = 0 AND k.menude_gosterilsin = 1 AND 0 != ISNULL((SELECT SUM(ak.miktar * u.fiyat) FROM adisyon_kalem ak INNER JOIN urunler u ON u.urun_id = ak.urun_id INNER JOIN kategoriler k1 ON k1.kategori_id = u.kategori_id AND k1.ust_kategori_id = k.kategori_id WHERE ak.silindi = 0 AND ak.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')), 0) ORDER by tutar DESC");
                    decimal toplam = 0;
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <thead>
                            <tr>
                                <th>Üst Kategori</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in dt.Rows)
                                {
                                    toplam += Convert.ToDecimal(item["tutar"]);
                            <tr>
                                <td>@item["kategori_adi"]</td>
                                <td>@Convert.ToDecimal(item["tutar"]).ToString("c2")</td>
                            </tr>
                                }
                            <tr>
                                <td>Toplam</td>
                                <td>@toplam.ToString("c2")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                }
                else if (rapor_tipi == "masa")
                {
                    DataTable dt = SQL.get(" SELECT " +
                        "     m.masa_adi, " +
                        "     tutar = ISNULL((SELECT SUM(fh.miktar) FROM finans_hareket fh INNER JOIN adisyon a ON a.adisyon_id = fh.referans_id AND a.masa_id = m.masa_id WHERE fh.silindi = 0 AND fh.hareket_tipi_parametre_id IN (25, 26, 27) AND fh.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')), 0) " +
                        " FROM masalar m WHERE m.silindi = 0 AND 0 != ISNULL((SELECT SUM(fh.miktar) FROM finans_hareket fh INNER JOIN adisyon a ON a.adisyon_id = fh.referans_id AND a.masa_id = m.masa_id WHERE fh.silindi = 0 AND fh.hareket_tipi_parametre_id IN (25, 26, 27) AND fh.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')), 0) ORDER by tutar DESC");
                    decimal toplam = 0;
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <thead>
                            <tr>
                                <th>Masa</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in dt.Rows)
                                {
                                    toplam += Convert.ToDecimal(item["tutar"]);
                            <tr>
                                <td>@item["masa_adi"]</td>
                                <td>@Convert.ToDecimal(item["tutar"]).ToString("c2")</td>
                            </tr>
                                }
                            <tr>
                                <td>Toplam</td>
                                <td>@toplam.ToString("c2")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                }
                else if (rapor_tipi == "masa_grubu")
                {
                    DataTable dt = SQL.get(" SELECT " +
                        "     mk.masa_kategori, " +
                        "     tutar = ISNULL((SELECT SUM(fh.miktar) FROM finans_hareket fh INNER JOIN adisyon a ON a.adisyon_id = fh.referans_id INNER JOIN masalar m ON m.masa_id = a.masa_id AND m.masa_kategori_id = mk.masa_kategori_id WHERE fh.silindi = 0 AND fh.hareket_tipi_parametre_id IN (25, 26, 27) AND fh.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')), 0) " +
                        " FROM masalar_kategori mk " +
                        " WHERE mk.silindi = 0 " +
                        " AND 0 != ISNULL((SELECT SUM(fh.miktar) FROM finans_hareket fh INNER JOIN adisyon a ON a.adisyon_id = fh.referans_id INNER JOIN masalar m ON m.masa_id = a.masa_id AND m.masa_kategori_id = mk.masa_kategori_id WHERE fh.silindi = 0 AND fh.hareket_tipi_parametre_id IN (25, 26, 27) AND fh.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "')), 0) ORDER by tutar DESC");
                    decimal toplam = 0;
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <thead>
                            <tr>
                                <th>Masa Kategori</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in dt.Rows)
                                {
                                    toplam += Convert.ToDecimal(item["tutar"]);
                            <tr>
                                <td>@item["masa_kategori"]</td>
                                <td>@Convert.ToDecimal(item["tutar"]).ToString("c2")</td>
                            </tr>
                                }
                            <tr>
                                <td>Toplam</td>
                                <td>@toplam.ToString("c2")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                }
                else if (rapor_tipi == "masa_kapatma")
                {
                    DataTable dt = SQL.get(
                        "SELECT " +
                        "    a.adisyon_id, " +
                        "    m.masa_adi, " +
                        "    a.kayit_tarihi, " +
                        "    p.deger, " +
                        "    tutar = ISNULL((SELECT SUM((ak1.miktar - ak1.ikram_miktar) * u1.fiyat) FROM adisyon_kalem ak1 INNER JOIN urunler u1 ON u1.urun_id = ak1.urun_id WHERE ak1.silindi = 0 AND ak1.adisyon_id = a.adisyon_id), 0.0000), " +
                        "    odeme = ISNULL((SELECT SUM(fh.miktar) FROM finans_hareket fh WHERE fh.silindi = 0 AND fh.referans_id = a.adisyon_id AND fh.hareket_tipi_parametre_id IN(25, 26, 27)), 0.0000) " +
                        "FROM " +
                        "    adisyon a " +
                        "    INNER JOIN masalar m ON m.masa_id = a.masa_id " +
                        "    INNER JOIN parametreler p ON p.parametre_id = a.masa_kapat_parametre_id " +
                        "WHERE " +
                        "    a.silindi = 0 " +
                        "    AND a.masa_kapat_parametre_id != 0 " +
                        "    AND a.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "') " +
                        "ORDER by a.kayit_tarihi");


                    decimal toplam = 0;
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <thead>
                            <tr>
                                <th>Masa</th>
                                <th>Mazeret</th>
                                <th>Tarih</th>
                                <th>Tutar</th>
                                <th>Ödeme</th>
                                <th>Kalan</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in dt.Rows)
                                {
                                    toplam += Convert.ToDecimal(item["tutar"]) - Convert.ToDecimal(item["odeme"]);
                            <tr style="font-weight:bold; font-size:medium;">
                                <td>@item["masa_adi"]</td>
                                <td>@item["deger"]</td>
                                <td>@item["kayit_tarihi"]</td>
                                <td>@Convert.ToDecimal(item["tutar"]).ToString("c2")</td>
                                <td>@Convert.ToDecimal(item["odeme"]).ToString("c2")</td>
                                <td>@((Convert.ToDecimal(item["tutar"]) - Convert.ToDecimal(item["odeme"])).ToString("c2"))</td>
                            </tr>
                            <tr>
                                <td colspan="5" style="background-color: lightgray;">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th style="width: 25%">Kullanıcı</th>
                                                <th style="width: 25%">Ürün</th>
                                                <th style="width: 25%">Miktar</th>
                                                <th style="width: 25%">İkram</th>
                                                <th style="width: 25%">Tutar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (DataRow dataRow in SQL.get("SELECT ak.miktar, ak.ikram_miktar, ad_soyad = k.ad + ' ' + k.soyad, u.urun_adi, tutar = ((ak.miktar - ak.ikram_miktar) * u.fiyat) FROM adisyon_kalem ak INNER JOIN urunler u ON u.urun_id = ak.urun_id INNER JOIN kullanicilar k ON k.kullanici_id = ak.kaydeden_kullanici_id WHERE ak.silindi = 0 AND ak.adisyon_id = " + item["adisyon_id"]).Rows)
	                                            {
                                            <tr>
                                                <td>@dataRow["ad_soyad"]</td>
                                                <td>@dataRow["urun_adi"]</td>
                                                <td>@Convert.ToDecimal(dataRow["miktar"]).ToString("n2")</td>
                                                <td>@Convert.ToDecimal(dataRow["ikram_miktar"]).ToString("n2")</td>
                                                <td>@Convert.ToDecimal(dataRow["tutar"]).ToString("c2")</td>
                                            </tr>
	                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                                }
                            <tr>
                                <td>Toplam</td>
                                <td>@toplam.ToString("c2")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                }
                else if (rapor_tipi == "genel_gider")
                {
                    DataTable dt = SQL.get("SELECT fh.kayit_tarihi, fh.finans_aciklama, fh.miktar FROM finans_hareket fh WHERE fh.silindi = 0 AND fh.hareket_tipi_parametre_id IN (60, 61) AND fh.kayit_tarihi BETWEEN '" + baslangic_tarihi + "' AND DATEADD(DAY, 0, '" + bitis_tarihi + "') ORDER by fh.kayit_tarihi");
                    decimal toplam = 0;
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <thead>
                            <tr>
                                <th>Tarih</th>
                                <th>Açıklama</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in dt.Rows)
                                {
                                    toplam += Convert.ToDecimal(item["miktar"]);
                            <tr>
                                <td>@item["kayit_tarihi"]</td>
                                <td>@item["finans_aciklama"]</td>
                                <td>@Convert.ToDecimal(item["miktar"]).ToString("n2")</td>
                            </tr>
                                }
                            <tr>
                                <td>Toplam</td>
                                <td colspan="2">@toplam.ToString("c2")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                }
            </div>
        </div>
    </div>
</div>

